<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ECHONETLite2MQTT</title>
    <link rel="icon" type="image/png" href="<%= root %>/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="<%= root %>/favicon.svg" />
    <link rel="shortcut icon" href="<%= root %>/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= root %>/apple-touch-icon.png" />
    <link rel="manifest" href="<%= root %>/site.webmanifest" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener("load", function() {
          navigator.serviceWorker.register('sw.js');
        });
      }
      function utcTextToLocalText(dateText)
      {
        const date = new Date(dateText);
        const year = date.getFullYear().toString().padStart(4, "0");
        const month = (date.getMonth() + 1).toString().padStart(2, "0");
        const day = date.getDate().toString().padStart(2, "0");
        const hour = date.getHours().toString().padStart(2, "0");
        const minute = date.getMinutes().toString().padStart(2, "0");
        const second = date.getSeconds().toString().padStart(2, "0");
        return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root %>/">
          <img src="<%= root %>/logo.svg" alt="" width="24" height="24" class="d-inline-block align-text-top" style="background-color : white">
          ECHONETLite2Mqtt
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="rootmenu-devices" class="nav-link" href="<%= root %>/devices">Devices</a>
            </li>
            <li class="nav-item">
              <a id="rootmenu-logs" class="nav-link" href="<%= root %>/logs">Logs</a>
            </li>
            <li class="nav-item">
              <a id="rootmenu-logs" class="nav-link" href="<%= root %>/api-docs/">Rest API</a>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">MQTT</span>
            <input id="mqtt-state" class="form-control me-2" type="text" readonly value="Connected">
          </div>
        </div>
      </div>
    </nav>
    <%- body %>
    <footer class="footer border-top">
      <div class="container">
        <p class="text-muted text-center">ECHONETLite2MQTT ver.<span id="footer-version"></span></p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
